@font-face {
	font-family: 'Georgia';
	src: url('../fonts/Georgia-Bold.eot');
	src: local('Georgia Bold'), local('Georgia-Bold'),
		url('../fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Georgia-Bold.woff') format('woff'),
		url('../fonts/Georgia-Bold.woff2') format('woff2'),
		url('../fonts/Georgia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Georgia';
	src: url('../fonts/Georgia.eot');
	src: local('Georgia'),
		url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Georgia.woff') format('woff'),
		url('../fonts/Georgia.woff2') format('woff2'),
		url('../fonts/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.woff2') format('woff2'),
        url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Medium.eot');
    src: local('Lato Medium'), local('Lato-Medium'),
        url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Medium.woff') format('woff'),
        url('../fonts/Lato-Medium.woff2') format('woff2'),
        url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Black';
    src: url('../fonts/AvenirLT-Black.eot');
    src: local('Avenir LT 95 Black'), local('AvenirLT-Black'),
        url('../fonts/AvenirLT-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Black.woff') format('woff'),
        url('../fonts/AvenirLT-Black.woff2') format('woff2'),
        url('../fonts/AvenirLT-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #424242;
}
a{
    text-decoration: none; /* Уберает подчеркивание под ссылкой */
    color: inherit; /* Цвет наследуется от родительского класса */
}
.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Блок header */
.header {
    background-image: url('../images/header-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 92px;
    height: calc(100vh - 92px);
    position: relative;
}
.header__top {
    padding: 17px 0;
    position: absolute;
    top: -92px;
    left: 0;
    right: 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
    gap: 70px;
    line-height: 24px;
    color: #292929;
}
.header__box {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 35px;
}
.trial {
    text-align: center;
    color: #FFFFFF;
    padding: 13px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
}
.headline {
    padding-top: 175px;
}
.headline__inner {
    max-width: 440px;
}
.headline__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
    margin-bottom: 30px;
}
.headline__text {
    max-width: 420px;
    color: #484848;
    margin-bottom: 18px;
}
.headline__link {
    display: inline-block;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
}
/* Блок header */